body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background: #1e293b;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    background: #020617;
    padding: 10px;
    border-radius: 8px;
}
